li {
  display: inline;
  padding-right: 20px;
  font-size: 20px;
}

ul {
  margin-left: 50px;
}

header {
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: cadetblue;
}

footer {
  position: fixed;
  width: 99%;
  bottom: 0;
  background-color: cadetblue;

}

.card {
    border: 1px solid;
    padding:10px;
    margin: 10px;
    max-width: 250px;
    max-height: 250px;
    display: inline-block;
    text-align: center;
}

.card .image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    margin-bottom: 10px;

}

.card:hover {
  transition: all 1s;
    background-color: aqua;
}

.card .name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card .email {
    font-family: 'Courier New', Courier, monospace;
}

