li {
  display: inline;
  padding-right: 20px;
  font-size: 20px;
}

header {
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: cadetblue;
}

footer {
  position: fixed;
  bottom: 0;
}

.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0%, 0%, 0%, 0.1);
    padding:10px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card .image {
    max-width: 70%; 
    height: auto; 
    border-radius: 50%;
    margin-bottom: 10px;

}

.card .name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card .email {
    font-family: 'Courier New', Courier, monospace;
}

.cardBody {
  margin-left: 100px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0%, 0%, 0%, 0.1);
  padding:10px;
  margin: 10px;
  text-align: center;
  max-width: 1000px;
  display: inline-block;
}

